$pocketpark-blue: #225cff;
$pocketpark-white: #e7e8e9;
$pocketpark-grey: #bfc0c3;
$pocketpark-purple: #112e80;


.pocketpark-banner {
    background-color: $pocketpark-white;
    position: relative;
    display: flex;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 20vw;
        background-color: $pocketpark-blue;
        z-index: 1;
    }

    .project-image {
            position: absolute;
            top: 100px;
            right: -100px;
            z-index: 2;
    
            img {
                width: 50vw;
                height: 100%;
            }
        }
}