.project-intro {

    position: relative;
    min-height: 100vh;
    overflow: visible;

    .content {
        span {
            font-weight: 700;
        }

        h1 {
            margin-top: 2rem;
            font-size: 5rem;
        }

        h2 {
            font-size: 2rem;
        }
    }

    .project-image {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;

        img {
            width: 700px;
            height: 100%;
        }
    }
}