
.project-intro {
    .content {
        span {
            font-weight: 700;
        }

        h1 {
            margin-top: 2rem;
            font-size: 5rem;
        }

        h2 {
            font-size: 2rem;
        }
    }
}
