
.project-banner {
    .content {
        span {
            font-weight: 700;
        }

        h1 {
            margin-top: 2rem;
            font-size: 5em;
        }

        h2 {
            font-size: 2em;
        }
    }
}
