.portfolio-page {
    .intro-section {
        background-color: #353535;
    
        .content {
            display: flex;
            align-items: flex-start;
            position: relative;

            * {
                color: #f6f6f6;
            }

            .portfolio-intro-heading {
                width: 100%;
                margin-right: 100px;
                
                h1 {
                    position: absolute;
                    opacity: 0.1;
                    font-size: 9rem;
                    bottom: -190px;
                    left: -5rem;
                }

                @media screen and (max-width: 900px){
                    margin-right: 0;
                }
            }

            @media screen and (max-width: 900px){
                flex-direction: column;
            }
            
        }
    }

    .projects-section {
        background-color: #f4f5f7;
    }
}