
.page {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0 auto;
    z-index: 1;
    animation: fadeIn 1s forwards 0.3s;
    padding: 200px 100px 100px 100px;

    @media screen and (max-width: 900px) {
        padding: 150px 25px 100px 25px;
    }
}

.btn {
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 100px;
    transition: 0.2s ease-in-out;
    text-align: center;

    @media screen and (max-width: 800px) {
        padding: 1rem 1.5rem;
    }

    // &:hover,&:focus {
        
    // }
}

.btn-filled {
    background: #353535;
    color: #f6f6f6;
}

.btn-outline {
    background: transparent;
    border: 1px solid #353535;
    color: #353535;
}

.resume-btn {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1;
}