.about-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @media screen and (max-width: 900px){
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column-reverse;
    }

    .about-image {
        margin-right: 100px;
        opacity: 0;
        animation: fadeIn 1s forwards 0.8s;
        
        img {
            width: 250px;
        }

        @media screen and (max-width: 900px){
            margin-right: 0;
            margin-top: 3rem;

            img {
                width: 200px;
            }
        }
    }

    .about-text {
        max-width: 800px;
        width: 100%;
    }
}