
.navigation {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    z-index: 10000;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: 0.4s ease-in-out;
    background-color: #eeeeee;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        position: relative;
        width: 100%;

        @media screen and (max-width: 800px){
            width: 100%;
        }

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 20px 20px 0 0;
        }

        a {
            font-size: 25px;
            padding: 1rem;
            color: #4d4d4e;
            display: block;
            line-height: 40px;
            position: relative;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-weight: 700;

            @media screen and (max-width: 800px){
                line-height: 30px;
                margin: 0;
            }

            svg {
                transition: 0.2s ease-in-out;
                margin-right: 1rem;

                @media screen and (max-width: 800px){
                    width: 20px;
                    height: 20px;
                }
            }

            span {
                font-size: 1.25rem;
                color: #c1c1c1;
                transition: 0.2s ease-in-out;

                @media screen and (max-width: 800px){
                    font-size: 0.75rem;
                }
            }

            &:hover, &:focus {
                svg {
                    color: #b1b1b1;
                    transition: 0.2s ease-in-out;
                }

                span {
                    color: #b1b1b1;
                }
            }

            &:before {
                content: '';
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                height: 1px;
                background-color: #d1d1d1;
                transition: 0.3s ease-in;
            }

            &:after {
                content: '';
                width: 0;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 1px;
                background-color: #cf1c1c;
                transition: 0.3s ease-in;
                opacity: 0;
            }

        }

        a.active {
            svg {
                color: #cf1c1c;
                transition: 0.2s ease-in-out;
            }

            span {
                color: #cf1c1c;
                transition: 0.2s ease-in-out;
            }

            &:after {
                width: 100%;
                opacity: 1;
            }
        }
    }

    ul {
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        a {
            padding: 7px 0;
            display: block;
            font-size: 15px;
            line-height: 16px;

            &:hover {
                svg {
                    color: #ffd700;
                }
            }
        }
    }
}